<div id="box1" class="box box-100 altbox"><!-- box full-width --> 
	<div class="boxin"> 
		<div class="header"> 
			<h3>Profiles</h3> 
		</div>

<div id="box1-tabular" class="content">


<p>
Profile URLs are of the form
</p>
<blockquote>
http://beta.archety.pe/profiles/<i>username</i>
</blockquote>

<br />

	</div>

	</div>
</div>

